.container {
    background-color: #f44336;
    /* Червоний колір */
    color: white;
    /* Білий колір тексту */
    padding: 10px 20px;
    /* Параметри відступів */
    border-radius: 5px;
    /* Закруглені кути */
}

.text {
    margin: 0;
    /* Видалити зовнішні відступи */
}